@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
  }
}
